<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S3</title>
</head>

<body>
    <form action="/save" method="post" enctype="multipart/form-data">
        <input type="text" id="id" name="id" placeholder="id"><br>
        <input type="text" id="name" name="name" placeholder="name"><br>
        <input type="text" id="semester" name="semester" placeholder="semester"><br>
        <input type="text" id="department" name="department" placeholder="course"><br>
        <input type="file" id="image" name="file" accept="image/*">
        <input type="submit" value="ADD">
    </form>
    <div class = "content">
        <table border="true">
            <caption>Danh sach cac mon hoc</caption>

            <thead>
                <tr>
                    <th>STT</th>
                    <th>Name</th>
                    <th>Semester</th>
                    <th>Department</th>
                </tr>
            </thead>

            <tbody>
                <% courses.forEach(item => { %>
                    <tr>
                        <td><%= item.id %></td>
                        <td><%= item.name %></td>
                        <td><%= item.semester %></td>
                        <td><%= item.department %></td>
                        <td><img src = "<%= item.image %>" alt = "avt_<%= item.id %>" width="48" height="48"/></td>
                    </tr>
                <% }); %>
            </tbody>

        </table>
    </div>
</body>

</html>